.page-header
  %h1 My profile
.row
  .col-md-6
    .tile.profile
      .caption
        %h2 Public info
        = render 'public_info'
  .col-md-6
    .tile.profile
      .caption
        %h2 Account info
        = render 'account_info'