.page-header
  %h1
    = user.name
    - if user == current_user
      %span= link_to 'Edit public profile', edit_my_profile_path, class: 'btn btn-header'
      %span= link_to 'Account details', my_profile_path, class: 'btn btn-default'
.tile.profile
  = render 'public_info'