.panel.panel-secondary
	.panel-heading 
		%h3 Newest news
	.panel-body
		= render partial: '/news/new', collection: news

.panel.panel-secondary
	.panel-heading 
		%h3 Newest articles
	.panel-body
		= render partial: '/articles/article', collection: articles