.thumbnail
  = image_tag("https://dl.dropboxusercontent.com/u/52870658/reindeer_landscape.jpg")
  .caption
    %h1 Welcome to Reindeer!
    %p It is a website that connects students from Norway and Poland.

.row
  - news.each do |new|
    = render 'news/thumbnail_new', new: new

.row
  - articles.each do |article|
    = render 'articles/thumbnail_article', article: article