body {
  background-color: $background;
  background-image: url("http://www.transparenttextures.com/patterns/absurdity.png");
  color: $primary-base;
  font-family: $font;
  font-size: 14pt;
}

a {
  color: $primary;
  font-family: $slant-font;
  &:hover {
    color: $highlight;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $highlight;
  font-family: $slant-font;
}

p {
  text-align: justify;
}