.btn {
  font-size: 12pt;
}

.btn.btn-default {
  background-color: $highlight;
  border-color: $primary-base;
  color: $primary-base;
  &:hover {
    color: $secondary;
    background-color: $primary
  }
}

.btn.btn-header {
  background-color: $primary;
  border-color: $primary-base;
  color: $secondary;
  &:hover {
    color: $secondary;
    background-color: $highlight;
  }
}