body {
	background-color: $background;
  background-image: url("http://www.transparenttextures.com/patterns/absurdity.png");
	color: $primary-base;
  font-family: $slant-font;
  font-size: 14pt;
}

a {
	color: $primary;
	&:hover {
		color: $highlight;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $highlight;
}

p {
  text-align: justify;
}

.btn {
  font-family: $font;
  font-style: italic;
  font-size: 12pt;
}

.page-header {
  margin-top: 0;
  padding-top: 0;
  border: $primary solid 1px;
  border-bottom: $primary solid 5px;
  border-radius: 4px;
  background-color: rgba($primary, 0.2);
  h1 {
    padding-left: 20px;
    font-family: $font;
    font-style: italic;
    color: $secondary;
    text-shadow: $highlight 2px 2px;
  }
}