body {
  margin: 0 auto;
  padding: 0;
  font-size: 12pt;
  font-family: Arial;
  background-color: #eeeeee;
  color: #222222;
  a { text-decoration: none; }
}

.admin_menu {
  margin: 0px auto;
  width: 100%;
  color: #222222;
  background: -webkit-linear-gradient(-90deg, #0000a4, #000067) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -o-linear-gradient(-90deg, #0000a4, #000067) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(-90deg, #0000a4, #000067) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(-90deg, #0000a4, #000067) repeat scroll 0 0 rgba(0, 0, 0, 0);
  margin-bottom: 20px;
  ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
  }
  li {
    display: inline-block;
    margin: 8px;
    padding: 0;
  }
  a {
    display: block;
    color: #ffffff;
    font-size: 11pt;
    border-radius: 10px;
    background-color: #222222;
    border-color: none;
    padding: 6px 10px 4px;
    position: relative;
  }  
  a:hover {
    background: #444444;
    color: #ffffff;
  }
}

.menu_box {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 0 10px 0;
  .menu {
    width: 1000px;
    margin: 0 auto;
    .title {
      float: left;
      color: darkblue;
      margin: 5px;
    }
    ul {
      list-style-type: none;
      text-align: right;
      margin: 0;
    }
    li {
      display: inline-block;
      margin: 5px;
    }
    a {
      display: block;
      padding-bottom: 5px;
      color: #111111;
      &:hover {
        border-bottom: 3px solid darkblue;
        color: darkred;
      }
    }
  }
}

.content {
  width: 1000px - 2*20px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(#dddddd, 0.5);
  border: 2px solid darkblue;
  border-radius: 25px;
  text-align: justify;
  h1, h2, h3, h4, h5, h6 {
    color: darkred;
  }
}

.footer {
  width: 500px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  color: #aaaaaa;
  text-align: center;
}
