.navbar, .navbar-default {
	background-color: $highlight;
	border-color: $primary-base;
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin-top: 10px;
	margin-bottom: 50px;
	.navbar-header {
		padding-left: 20px;
		padding-right: 10px;
		.navbar-brand {
			background-color: $primary-base;
			color: $secondary;
		}
		&:hover .navbar-brand {
			background-color: $primary;
		}
	}
	.navbar-collapse ul.nav.navbar-nav li a {
		color: $secondary;
		&:hover {
			color: $primary-base;
		}
	}
}

.logo {
	height: 50px;
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
}

ul.nav.navbar-nav.navbar-right li.dropdown a.dropdown-toggle {
	margin: 0;
	padding: 0;
	.gravatar {
		padding: 4px;
		padding-right: 5px;
		padding-left: 5px;
		color: $secondary;
		img {	border: 1px solid $secondary; }
		&:hover {
			color: $primary-base;
			img {	border: 1px solid $primary-base; }
		}
	}
}

ul.nav.navbar-nav.navbar-left li.dropdown a.dropdown-toggle:hover {
	color: $primary-base;
}

ul.nav.navbar-nav li.dropdown.open a.dropdown-toggle {
	background-color: $highlight;
	color: $primary-base;
	.gravatar, .gravatar:hover {
		background-color: $highlight;
		color: $primary-base;
		img {	border: 1px solid $primary-base; }
	}
}

ul.nav.navbar-nav li.dropdown ul.dropdown-menu {
	text-align: center;
	margin: 0;
	padding: 5px;
	background-color: rgba($highlight, 0.8);
	border-color: $primary-base;
	li.divider {
		margin-left: 5px;
		margin-right: 5px;
		background-color: $primary-base;
	}
	li a {
		font-size: 12pt;
		padding-top: 5px;
		padding-bottom: 5px;
		color: $secondary;
		&:hover {
			color: $primary-base;
			background-color: rgba($highlight,0);
		}
	}
}

.active {
	background-color: rgba($secondary, 0.8) !important;
	color: $primary-base !important;
	&:hover {
		background-color: rgba($primary, 0.8) !important;
		color: $secondary !important;
	}
	.gravatar {
		background-color: rgba($secondary, 0.8) !important;
		color: $primary-base !important;
		img {	border: 1px solid $primary-base !important; }
		&:hover {
			background-color: rgba($primary, 0.8) !important;
			color: $secondary !important;
			img {	border: 1px solid $secondary !important; }
		}
	}
}