.navbar, .navbar-default {
	background-color: $highlight;
	border-color: $primary-base;
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin-top: 10px;
	margin-bottom: 50px;
	.navbar-header {
		padding-left: 20px;
		padding-right: 10px;
		&:hover {
			background-color: $primary;
			.navbar-brand {
				color: $highlight;
			}
		}
		.navbar-brand {
			color: $secondary;
		}
	}
	.navbar-collapse ul.nav.navbar-nav li a {
		color: $primary-base;
		&:hover {
			color: $secondary;
		}
	}
}

.logo {
	height: 50px;
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
}