.panel.panel-secondary {
	border-color: $highlight;
	border-width: 2px;
	.panel-heading {
		background-color: $secondary-base;
		color: $highlight;
		border-color: $highlight;
	}
	.panel-body {
		background-color: $secondary;
	}
}