.thumbnail {
  padding: 10px;
  background-color: $secondary;
  background-image: url("http://www.transparenttextures.com/patterns/absurdity.png");
  border-color: $primary;
  img {
    border: $primary solid 1px;
  }
  .caption {
    margin-top: 0;
    padding-top: 0;
  }
  .header {
    font-family: $font;
    font-style: italic;
  }
}

.tile {
  @extend .thumbnail;
  .date {
    font-size: 10pt;
    color: $primary;
  }
  .author {
    font-size: 10pt;
    color: $highlight;
  }
}

ul.pagination {
  border-color: $secondary;
  color: $secondary;
  li a, li.disabled a {
    border-color: $secondary;
    background-color: $highlight;
    color: $secondary;
    &:hover {
      border-color: $secondary;
      color: $highlight;
      background-color: $secondary;
    }
  }
  li.active a {
    border-color: $secondary;
    background-color: $primary;
    color: $secondary;
    &:hover {
      border-color: $secondary;
      color: $primary;
      background-color: $secondary;
    }
  }
}