.thumbnail {
  padding: 10px;
  background-color: $secondary;
  background-image: url("http://www.transparenttextures.com/patterns/absurdity.png");
  border-color: $primary;
  img {
    border: $primary solid 1px;
  }
  .caption {
    margin-top: 0;
    padding-top: 0;
  }
}