.tile {
  @extend .thumbnail;
  .date {
    font-size: 10pt;
    color: $primary;
  }
  .author {
    font-size: 10pt;
    color: $highlight;
  }
  .comments-count {
    color: $primary;
    font-family: $slant-font;
    font-size: 12pt;
    padding: 5px;
    float: right;
  }
}

.to_profile .tile {
  height: 84px;
  a .link {
    padding: 5px;
    float: left;
    .name {
      padding-left: 10px;
      padding-right: 20px;
    }
    &:hover {
      color: $highlight;
    }
  }
  .actions {
    float: right;
    span {
      font-size: 10pt;
    }
    .btn {
      margin-top: 13px;
      margin-bottom: 13px;
    }
  }
}