.tile {
  @extend .thumbnail;
  .date {
    font-size: 10pt;
    color: $primary;
  }
  .author {
    font-size: 10pt;
    color: $highlight;
  }
  .comments-count {
    color: $primary;
    font-family: $slant-font;
    font-size: 12pt;
    padding: 5px;
    float: right;
  }
}

.to_profile a:hover {
  text-decoration: none;
  color: $secondary;
  .tile {
    background-color: $highlight;
  }
}