$primary-base: #1D2925;  // dark green
$primary: #303F3A;       // mid green
$background: #577163;    // light green
$secondary: #F3F1F2;     // beige
$highlight: #8E6A4D;     // brown

$slant-font: Calligraffitti;
$font: "IM Fell Great Primer";