%nav.navbar.navbar-default.navbar-static-top{ role: "navigation" }
	.container-fluid
		.navbar-header
			= link_to root_path do
				%img.navbar-brand{ src: 'https://dl.dropboxusercontent.com/u/52870658/reindeer_colour.png', class: 'logo' }
				.navbar-brand Reindeer
		#navbar.navbar-collapse.collapse
			= render 'layouts/left_menu'
			= render 'layouts/right_menu'